flows.json
[{"id":"2c41a2bd.aa36ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"de32aeae.88d78","type":"tab","label":"BP","disabled":false,"info":""},{"id":"813d2714.3e8838","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"cecc07b4.9c2e58","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"2195377a.a21458","type":"tab","label":"IKEA Smart Lights","disabled":false,"info":""},{"id":"886ab453.f7a7d8","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"99d692a1.3c57e","type":"tab","label":"Workshop","disabled":false,"info":""},{"id":"23fea3cf.c3210c","type":"tab","label":"Balcony","disabled":false,"info":""},{"id":"e19e0078.9ccb8","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"3b875df7.8737b2","type":"tab","label":"Thermostat With QR terminal","disabled":false,"info":""},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf6a3c96.35048","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Termostat","tab":"11207769.c31889","order":1,"disp":true,"width":6,"collapse":true},{"id":"76374a06.d6bfe4","type":"ui_group","z":"","name":"Wifi Terminal","tab":"d6c20697.634c58","order":1,"disp":true,"width":"6","collapse":true},{"id":"d6c20697.634c58","type":"ui_tab","z":"","name":"Wifi Terminal","icon":"dashboard","order":8},{"id":"9f01375.623dcc8","type":"ikea-connection","z":"","address":"192.168.1.101","name":""},{"id":"3e4f3eaf.317502","type":"ui_tab","z":"","name":"Living Room","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"9e4e8b99.3682f8","type":"ui_group","z":"","name":"Teplota","tab":"3e4f3eaf.317502","order":1,"disp":true,"width":"6","collapse":true},{"id":"265531a0.43a7ee","type":"ui_group","z":"","name":"Pohyb","tab":"3e4f3eaf.317502","order":2,"disp":true,"width":"4","collapse":true},{"id":"32c6dcc2.c065c4","type":"ui_group","z":"","name":"Baterie","tab":"3e4f3eaf.317502","order":3,"disp":true,"width":"6","collapse":true},{"id":"128b6903.f92397","type":"ui_tab","z":"","name":"Kitchen","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c238f078.c38b5","type":"ui_group","z":"","name":"Baterie","tab":"128b6903.f92397","order":1,"disp":true,"width":"6","collapse":true},{"id":"480497ed.5ebdc8","type":"ui_group","z":"","name":"Pohyb","tab":"128b6903.f92397","order":2,"disp":true,"width":"6","collapse":true},{"id":"1b7d9ffe.cae11","type":"ui_group","z":"","name":"Teplota","tab":"128b6903.f92397","order":3,"disp":true,"width":"6","collapse":true},{"id":"3d390fea.09de4","type":"ui_group","z":"","name":"Termostat Baterie","tab":"11207769.c31889","order":2,"disp":true,"width":"6","collapse":true},{"id":"ce0a3e7f.44961","type":"ui_tab","z":"","name":"Bedroom","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ca12e220.b200d","type":"ui_group","z":"","name":"Teplota","tab":"ce0a3e7f.44961","order":1,"disp":true,"width":"6","collapse":true},{"id":"2c9ae48.4458d1c","type":"ui_tab","z":"","name":"WorkShop","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"447a395f.d7d218","type":"ui_group","z":"","name":"Teplota","tab":"2c9ae48.4458d1c","order":1,"disp":true,"width":"6","collapse":true},{"id":"6160552f.cf7d9c","type":"ui_group","z":"","name":"Tlak","tab":"2c9ae48.4458d1c","order":2,"disp":true,"width":"6","collapse":true},{"id":"3434c648.d45f9a","type":"ui_group","z":"","name":"Vlhkost","tab":"2c9ae48.4458d1c","order":3,"disp":true,"width":"6","collapse":true},{"id":"7e6e0767.6a77a8","type":"ui_group","z":"","name":"Zněčištění Vzduchu","tab":"2c9ae48.4458d1c","order":4,"disp":true,"width":"6","collapse":true},{"id":"80f945d3.8c4088","type":"ui_group","z":"","name":"Pohyb","tab":"ce0a3e7f.44961","order":5,"disp":true,"width":"6","collapse":true},{"id":"41fbf478.e00bbc","type":"ui_group","z":"","name":"CO2","tab":"ce0a3e7f.44961","order":3,"disp":true,"width":"6","collapse":true},{"id":"ff73fb29.366668","type":"ui_group","z":"","name":"Baterie","tab":"ce0a3e7f.44961","order":4,"disp":true,"width":"6","collapse":true},{"id":"8e366e43.366aa","type":"ui_group","z":"","name":"Vlhkost","tab":"ce0a3e7f.44961","order":2,"disp":true,"width":"6","collapse":true},{"id":"48f8d152.6dd5f","type":"ui_tab","z":"","name":"Balcony","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"b2c61f6.10c6ee","type":"ui_group","z":"","name":"Teplota","tab":"48f8d152.6dd5f","order":1,"disp":true,"width":"6","collapse":true},{"id":"cdf2c724.95b738","type":"ui_group","z":"","name":"Vlhkost","tab":"48f8d152.6dd5f","order":2,"disp":true,"width":"6","collapse":true},{"id":"d6533457.c33358","type":"ui_group","z":"","name":"Tlak","tab":"48f8d152.6dd5f","order":3,"disp":true,"width":"6","collapse":true},{"id":"75bfec26.7ca1c4","type":"ui_group","z":"","name":"Světlo","tab":"48f8d152.6dd5f","order":4,"disp":true,"width":"6","collapse":true},{"id":"fbe1d1f4.30c4c","type":"ui_group","z":"","name":"Baterie","tab":"48f8d152.6dd5f","order":5,"disp":true,"width":"6","collapse":true},{"id":"b68311bf.7dc2c","type":"ui_tab","z":"","name":"Bathroom","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"51d7c66c.70fd08","type":"ui_group","z":"","name":"Teplota","tab":"b68311bf.7dc2c","order":1,"disp":true,"width":"6","collapse":true},{"id":"f44fdb7d.0a3ac8","type":"ui_group","z":"","name":"Záplavový sensor","tab":"b68311bf.7dc2c","order":2,"disp":true,"width":"6","collapse":true},{"id":"6569ebac.0bb3f4","type":"ui_group","z":"","name":"Baterie","tab":"b68311bf.7dc2c","order":3,"disp":true,"width":"6","collapse":true},{"id":"6c6622f5.06be2c","type":"mqtt in","z":"2c41a2bd.aa36ae","name":"","topic":"#","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":290,"y":40,"wires":[["7443a45e.fa613c"]]},{"id":"ce9f9f18.4bad2","type":"debug","z":"2c41a2bd.aa36ae","name":"","active":true,"console":"false","complete":"false","x":790,"y":40,"wires":[]},{"id":"eb664673.d333e8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"not-test/teplota","qos":"","retain":"","broker":"29fba84a.b2af58","x":510,"y":320,"wires":[]},{"id":"9142a375.93107","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":320,"wires":[["eb664673.d333e8"]]},{"id":"4c6bf9f5.f3d2f8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"another-test/vlhkost","qos":"","retain":"","broker":"29fba84a.b2af58","x":490,"y":360,"wires":[]},{"id":"42e99eaa.ebbca","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":360,"wires":[["4c6bf9f5.f3d2f8"]]},{"id":"a06992c3.51889","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"another-test/teplota/test","qos":"","retain":"","broker":"29fba84a.b2af58","x":510,"y":400,"wires":[]},{"id":"4207fdf3.9e0324","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"76099607388215487543 90431113012469993280 45991358267874409702","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":400,"wires":[["a06992c3.51889"]]},{"id":"d27fd966.205218","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"another-test","qos":"","retain":"","broker":"29fba84a.b2af58","x":750,"y":240,"wires":[]},{"id":"72f8849e.58f6ac","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":240,"wires":[["e935cc05.338fe"]]},{"id":"99f8f6f1.52b7e8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"test-testovic/test","qos":"","retain":"","broker":"29fba84a.b2af58","x":480,"y":280,"wires":[]},{"id":"b2d0fa8a.700a28","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":280,"wires":[["99f8f6f1.52b7e8"]]},{"id":"5dae415e.13c69","type":"mqtt out","z":"de32aeae.88d78","name":"","topic":"test/teplota","qos":"","retain":"","broker":"29fba84a.b2af58","x":790,"y":260,"wires":[]},{"id":"46175b31.398b84","type":"inject","z":"de32aeae.88d78","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":260,"wires":[["5dae415e.13c69"]]},{"id":"8cd41b8d.94dfb8","type":"inject","z":"de32aeae.88d78","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":320,"wires":[["e1fef32c.addab"]]},{"id":"fb6d3f97.43ec7","type":"mqtt out","z":"de32aeae.88d78","name":"","topic":"test/teplota","qos":"","retain":"","broker":"29fba84a.b2af58","x":790,"y":320,"wires":[]},{"id":"8ee96d29.66705","type":"inject","z":"de32aeae.88d78","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":380,"wires":[["83d1eea.890851"]]},{"id":"f21cef3a.24703","type":"mqtt out","z":"de32aeae.88d78","name":"","topic":"test/vlhkost","qos":"","retain":"","broker":"29fba84a.b2af58","x":790,"y":380,"wires":[]},{"id":"e1fef32c.addab","type":"random","z":"de32aeae.88d78","name":"","low":"-10","high":"35","inte":"true","property":"payload","x":540,"y":320,"wires":[[]]},{"id":"83d1eea.890851","type":"random","z":"de32aeae.88d78","name":"","low":"0","high":"100","inte":"true","property":"payload","x":540,"y":380,"wires":[[]]},{"id":"1ea0e58f.14f73a","type":"mqtt out","z":"de32aeae.88d78","name":"","topic":"test/second-switch","qos":"","retain":"","broker":"29fba84a.b2af58","x":810,"y":440,"wires":[]},{"id":"317a7f5.6c9ba8","type":"inject","z":"de32aeae.88d78","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":440,"wires":[["1ea0e58f.14f73a"]]},{"id":"3106dd26.27c022","type":"mqtt out","z":"de32aeae.88d78","name":"","topic":"test/switch","qos":"","retain":"","broker":"29fba84a.b2af58","x":790,"y":480,"wires":[]},{"id":"95ea682d.463088","type":"inject","z":"de32aeae.88d78","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":480,"wires":[["3106dd26.27c022"]]},{"id":"b87092cb.809f","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"test/teplota","qos":"","retain":"","broker":"29fba84a.b2af58","x":730,"y":200,"wires":[]},{"id":"f59a0ff3.84c2b","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":200,"wires":[["9719adba.1b852"]]},{"id":"fac72fc6.55e73","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"another-test/teplota-druha/test","qos":"","retain":"","broker":"29fba84a.b2af58","x":510,"y":480,"wires":[]},{"id":"e281d5f2.f9d758","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"150","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":480,"wires":[["fac72fc6.55e73"]]},{"id":"894adcbc.03294","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"another/teplota","qos":"","retain":"","broker":"29fba84a.b2af58","x":460,"y":560,"wires":[]},{"id":"a5f3e193.f7755","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"400","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":560,"wires":[["894adcbc.03294"]]},{"id":"7443a45e.fa613c","type":"json","z":"2c41a2bd.aa36ae","name":"","property":"payload","action":"str","pretty":false,"x":520,"y":40,"wires":[["ce9f9f18.4bad2"]]},{"id":"9719adba.1b852","type":"random","z":"2c41a2bd.aa36ae","name":"","low":"0","high":"150","inte":"true","property":"payload","x":440,"y":200,"wires":[["b87092cb.809f"]]},{"id":"e935cc05.338fe","type":"random","z":"2c41a2bd.aa36ae","name":"","low":"0","high":"150","inte":"true","property":"payload","x":440,"y":240,"wires":[["d27fd966.205218"]]},{"id":"2c509fc6.c1ea8","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"test/switch","qos":"","retain":"","broker":"29fba84a.b2af58","x":870,"y":640,"wires":[]},{"id":"4de24c88.342384","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":640,"wires":[["2c509fc6.c1ea8"]]},{"id":"de9b6126.71f26","type":"mqtt out","z":"2c41a2bd.aa36ae","name":"","topic":"test/movement","qos":"","retain":"","broker":"29fba84a.b2af58","x":860,"y":680,"wires":[]},{"id":"d8c2bd2d.4816f","type":"inject","z":"2c41a2bd.aa36ae","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":680,"wires":[["de9b6126.71f26"]]},{"id":"452d0ecd.e02a1","type":"mqtt in","z":"2195377a.a21458","name":"","topic":"home/living-room/light","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":160,"y":140,"wires":[["b24d8f54.2837b"]]},{"id":"b24d8f54.2837b","type":"switch","z":"2195377a.a21458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":140,"wires":[["12087c57.a6d134"],["85864053.5b49"]]},{"id":"f92b5c8d.b58b1","type":"mqtt in","z":"2195377a.a21458","name":"","topic":"home/bedroom/light","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":150,"y":300,"wires":[["1faec7e9.e58d08"]]},{"id":"1faec7e9.e58d08","type":"switch","z":"2195377a.a21458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"False","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":300,"wires":[["55fc17dc.859678"],["8aea426c.216f2"]]},{"id":"55fc17dc.859678","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"onOff\":true}","tot":"json"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["f8dbe6dd.d0ee08"]]},{"id":"8aea426c.216f2","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"onOff\":false}","tot":"json"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["f8dbe6dd.d0ee08"]]},{"id":"99dc02bd.d7ea3","type":"mqtt out","z":"2195377a.a21458","name":"","topic":"home/bedroom/light","qos":"","retain":"","broker":"29fba84a.b2af58","x":1230,"y":300,"wires":[]},{"id":"8af93b5d.7b3b08","type":"mqtt out","z":"2195377a.a21458","name":"","topic":"home/living-room/light","qos":"","retain":"","broker":"29fba84a.b2af58","x":1230,"y":140,"wires":[]},{"id":"12087c57.a6d134","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"onOff\":true}","tot":"json"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["f95a0b36.610348"]]},{"id":"85864053.5b49","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"onOff\":false}","tot":"json"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["f95a0b36.610348"]]},{"id":"f8dbe6dd.d0ee08","type":"ikea-homesmart","z":"2195377a.a21458","name":"","deviceId":"131075","deviceName":"Pokoj","deviceType":"ikea-groups","deviceIcon":"font-awesome/fa-sitemap","connection":"9f01375.623dcc8","observe":true,"x":770,"y":300,"wires":[[]]},{"id":"65c9abd3.c5bf74","type":"ikea-homesmart","z":"2195377a.a21458","name":"","deviceId":"65538","deviceName":"TRADFRI bulb 2","deviceType":"ikea-lights","deviceIcon":"font-awesome/fa-lightbulb-o","connection":"9f01375.623dcc8","observe":true,"x":810,"y":100,"wires":[["81239462.749be8"]]},{"id":"81239462.749be8","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lightList[0].onOff","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":140,"wires":[["8af93b5d.7b3b08"]]},{"id":"d187d0ea.8b3ae","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lightList[0].onOff","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":300,"wires":[["99dc02bd.d7ea3"]]},{"id":"f95a0b36.610348","type":"ikea-homesmart","z":"2195377a.a21458","name":"","deviceId":"131074","deviceName":"Obyvák","deviceType":"ikea-groups","deviceIcon":"font-awesome/fa-sitemap","connection":"9f01375.623dcc8","observe":true,"x":790,"y":140,"wires":[[]]},{"id":"85996a9f.07a8c8","type":"ikea-homesmart","z":"2195377a.a21458","name":"","deviceId":"65540","deviceName":"TRADFRI bulb 3","deviceType":"ikea-lights","deviceIcon":"font-awesome/fa-lightbulb-o","connection":"9f01375.623dcc8","observe":true,"x":800,"y":260,"wires":[["d187d0ea.8b3ae"]]},{"id":"8571fec6.0baf1","type":"ui_text","z":"813d2714.3e8838","group":"9e4e8b99.3682f8","order":0,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":880,"y":280,"wires":[]},{"id":"6de75bab.df0de4","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/motion-detector/thermometer/0:1/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":360,"y":280,"wires":[["8571fec6.0baf1","5e025fed.6fe0c"]]},{"id":"1f5eff7e.1d7051","type":"ui_text","z":"813d2714.3e8838","group":"32c6dcc2.c065c4","order":0,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":900,"y":360,"wires":[]},{"id":"ed5f9c3e.c9812","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/motion-detector/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":320,"y":360,"wires":[["1f5eff7e.1d7051"]]},{"id":"e3802023.1ef49","type":"ui_text","z":"813d2714.3e8838","group":"32c6dcc2.c065c4","order":0,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":890,"y":420,"wires":[]},{"id":"e53867d7.ea80c8","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/motion-detector/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":330,"y":440,"wires":[["eb28688b.ebaeb8"]]},{"id":"5ee28779.904e88","type":"ui_gauge","z":"813d2714.3e8838","name":"","group":"32c6dcc2.c065c4","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":460,"wires":[]},{"id":"5e025fed.6fe0c","type":"ui_chart","z":"813d2714.3e8838","name":"","group":"9e4e8b99.3682f8","order":4,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":240,"wires":[[]]},{"id":"eb28688b.ebaeb8","type":"function","z":"813d2714.3e8838","name":"","func":"var result = msg.payload.substring(1, msg.payload.length-1);\n\nmsg.payload = parseInt(result, 10);\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["5ee28779.904e88","e3802023.1ef49"]]},{"id":"57b5dc65.f92e04","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/motion-detector/movement","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":180,"wires":[["a7f67ef1.7024f"]]},{"id":"9b5b07f1.23f8b8","type":"ui_text","z":"813d2714.3e8838","group":"265531a0.43a7ee","order":5,"width":0,"height":0,"name":"","label":"Pohyb","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":180,"wires":[]},{"id":"a7f67ef1.7024f","type":"switch","z":"813d2714.3e8838","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":180,"wires":[["79a6e023.a519f"],["b98223a1.28d5b"]]},{"id":"79a6e023.a519f","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ano","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":160,"wires":[["9b5b07f1.23f8b8"]]},{"id":"b98223a1.28d5b","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":200,"wires":[["9b5b07f1.23f8b8"]]},{"id":"2943987.032cd68","type":"ui_text","z":"cecc07b4.9c2e58","group":"1b7d9ffe.cae11","order":0,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":880,"y":280,"wires":[]},{"id":"4879e35.bdbbc1c","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/motion-detector/thermometer/0:1/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":350,"y":280,"wires":[["2943987.032cd68","1620f094.c08d1f"]]},{"id":"60ccb8ce.5d6c28","type":"ui_text","z":"cecc07b4.9c2e58","group":"c238f078.c38b5","order":0,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":900,"y":360,"wires":[]},{"id":"f39dcf2f.ba1a","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/motion-detector/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":360,"wires":[["60ccb8ce.5d6c28"]]},{"id":"59979d96.33b024","type":"ui_text","z":"cecc07b4.9c2e58","group":"c238f078.c38b5","order":0,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":890,"y":420,"wires":[]},{"id":"8b6ee643.3e54e8","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/motion-detector/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":320,"y":440,"wires":[["e0fd7c45.1009b"]]},{"id":"d4a56e0c.e4539","type":"ui_gauge","z":"cecc07b4.9c2e58","name":"","group":"c238f078.c38b5","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":460,"wires":[]},{"id":"1620f094.c08d1f","type":"ui_chart","z":"cecc07b4.9c2e58","name":"","group":"1b7d9ffe.cae11","order":4,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":240,"wires":[[]]},{"id":"e0fd7c45.1009b","type":"function","z":"cecc07b4.9c2e58","name":"","func":"var result = msg.payload.substring(1, msg.payload.length-1);\n\nmsg.payload = parseInt(result, 10);\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":440,"wires":[["d4a56e0c.e4539","59979d96.33b024"]]},{"id":"86df6ce0.7e575","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/motion-detector/movement","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":290,"y":180,"wires":[["cacfd1b5.e63d6"]]},{"id":"96c833e2.3d58b","type":"ui_text","z":"cecc07b4.9c2e58","group":"480497ed.5ebdc8","order":5,"width":0,"height":0,"name":"","label":"Pohyb","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":180,"wires":[]},{"id":"cacfd1b5.e63d6","type":"switch","z":"cecc07b4.9c2e58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":180,"wires":[["a42639f0.9fc4e8"],["f8fe6d2c.3665f"]]},{"id":"a42639f0.9fc4e8","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ano","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":160,"wires":[["96c833e2.3d58b"]]},{"id":"f8fe6d2c.3665f","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":200,"wires":[["96c833e2.3d58b"]]},{"id":"16818e2d.9ab862","type":"ui_text_input","z":"3b875df7.8737b2","name":"","label":"SSID","group":"76374a06.d6bfe4","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":150,"y":80,"wires":[["ea009fd3.a57b8"]]},{"id":"7d958606.1332c8","type":"ui_text_input","z":"3b875df7.8737b2","name":"","label":"Password","group":"76374a06.d6bfe4","order":0,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":160,"y":120,"wires":[["62616a6c.764144"]]},{"id":"362b5abb.48a2a6","type":"ui_dropdown","z":"3b875df7.8737b2","name":"","label":"Encryption","tooltip":"","place":"Choose encryption mode","group":"76374a06.d6bfe4","order":0,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"WPA","value":"WPA","type":"str"},{"label":"WEP","value":"WEP","type":"str"}],"payload":"","topic":"","x":170,"y":160,"wires":[["4bbc6188.6fe4"]]},{"id":"61a64a54.cfc024","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/thermometer/0:1/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":340,"y":260,"wires":[["524939d9.be1218"]]},{"id":"62616a6c.764144","type":"function","z":"3b875df7.8737b2","name":"Password Saver","func":"flow.set(\"password\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[[]]},{"id":"ea009fd3.a57b8","type":"function","z":"3b875df7.8737b2","name":"SSID Saver","func":"flow.set(\"SSID\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[[]]},{"id":"4bbc6188.6fe4","type":"function","z":"3b875df7.8737b2","name":"Encryption Saver","func":"flow.set(\"encryption\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[[]]},{"id":"f57d2aa9.8d8b38","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/push-button/-/event-count","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":330,"y":220,"wires":[["524939d9.be1218"]]},{"id":"524939d9.be1218","type":"function","z":"3b875df7.8737b2","name":"String builder","func":"msg.payload = \"\\\"\"\nmsg.payload = msg.payload + \"WIFI:T:\" + flow.get(\"encryption\") + \";S:\" + flow.get(\"SSID\") + \";P:\" + flow.get(\"password\") + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":240,"wires":[["4c60b1d7.5d81a"]]},{"id":"4c60b1d7.5d81a","type":"mqtt out","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":1300,"y":240,"wires":[]},{"id":"ca0a8fa8.7c06b","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/thermometer/set-point/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":360,"y":340,"wires":[["2e6c0b50.de8044"]]},{"id":"2e6c0b50.de8044","type":"function","z":"3b875df7.8737b2","name":"Point Temp saver","func":"flow.set(\"pointTemp\", parseFloat(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["4613dd21.4415d4"]]},{"id":"60dd390a.16c258","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/thermometer/0:1/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":340,"y":400,"wires":[["bfcdab6b.f5eac8","10359359.a5324d"]]},{"id":"9a520daa.2bdf5","type":"function","z":"3b875df7.8737b2","name":"Temperature Check","func":"if(parseFloat(msg.payload) < flow.get(\"pointTemp\"))\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(parseFloat(msg.payload) >= flow.get(\"pointTemp\"))\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["4c04af6d.cbc8a","7f4a856c.cb762c"]]},{"id":"4c04af6d.cbc8a","type":"mqtt out","z":"3b875df7.8737b2","name":"","topic":"node/power-controler:0/relay/-/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":1260,"y":400,"wires":[]},{"id":"4613dd21.4415d4","type":"ui_text","z":"3b875df7.8737b2","group":"57ff470b.93fdf8","order":1,"width":0,"height":0,"name":"","label":"Hraniční Teplota","format":"{{msg.payload}}°C","layout":"col-center","x":1020,"y":340,"wires":[]},{"id":"bfcdab6b.f5eac8","type":"ui_gauge","z":"3b875df7.8737b2","name":"","group":"57ff470b.93fdf8","order":2,"width":0,"height":0,"gtype":"gage","title":"Teplota v místnosti","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":440,"wires":[]},{"id":"3a2d5f5.f61c1a","type":"ui_text","z":"3b875df7.8737b2","group":"57ff470b.93fdf8","order":3,"width":0,"height":0,"name":"","label":"Vytápění","format":"{{msg.payload}}","layout":"col-center","x":1360,"y":460,"wires":[]},{"id":"10359359.a5324d","type":"rbe","z":"3b875df7.8737b2","name":"","func":"deadbandEq","gap":"0.5","start":"","inout":"out","property":"payload","x":740,"y":400,"wires":[["9a520daa.2bdf5"]]},{"id":"ebac28e7.b785c8","type":"ui_text","z":"3b875df7.8737b2","group":"3d390fea.09de4","order":1,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":880,"y":540,"wires":[]},{"id":"dac3545f.f5b118","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":540,"wires":[["ebac28e7.b785c8"]]},{"id":"26de6230.3b2dbe","type":"ui_text","z":"3b875df7.8737b2","group":"3d390fea.09de4","order":2,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":870,"y":600,"wires":[]},{"id":"42125f1.74b9da","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":620,"wires":[["92671c0.f5f76e8"]]},{"id":"d2f8b1e0.3cd5d","type":"ui_gauge","z":"3b875df7.8737b2","name":"","group":"3d390fea.09de4","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":640,"wires":[]},{"id":"92671c0.f5f76e8","type":"function","z":"3b875df7.8737b2","name":"","func":"var result = msg.payload.substring(1, msg.payload.length-1);\n\nmsg.payload = parseInt(result, 10);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":620,"wires":[["d2f8b1e0.3cd5d","26de6230.3b2dbe"]]},{"id":"4db8eca2.56b1f4","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":360,"wires":[["104b2976.501fd7","3e5fe480.6ff81c"]]},{"id":"3aa95fd7.0254c","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/movement","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":250,"y":240,"wires":[["54d11fac.51af7"]]},{"id":"fdac538f.68631","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/co2-meter/-/concentration","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":290,"y":500,"wires":[["c4b25dae.e38e","e4428733.d8eaa8"]]},{"id":"e83e9a7c.d54258","type":"ui_text","z":"99d692a1.3c57e","group":"447a395f.d7d218","order":1,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":860,"y":140,"wires":[]},{"id":"743d5d58.ac42c4","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":320,"y":140,"wires":[["e83e9a7c.d54258","e8722ce8.fad97"]]},{"id":"e8722ce8.fad97","type":"ui_chart","z":"99d692a1.3c57e","name":"","group":"447a395f.d7d218","order":2,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":100,"wires":[[]]},{"id":"ce8834a5.bf8dd8","type":"ui_text","z":"99d692a1.3c57e","group":"6160552f.cf7d9c","order":1,"width":0,"height":0,"name":"","label":"Atmosferický tlak","format":"{{msg.payload}} ","layout":"row-left","x":890,"y":220,"wires":[]},{"id":"f82023bd.bc315","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/barometer/0:0/pressure","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":220,"wires":[["ce8834a5.bf8dd8","a9bfb73e.85b6d8"]]},{"id":"a9bfb73e.85b6d8","type":"ui_chart","z":"99d692a1.3c57e","name":"","group":"6160552f.cf7d9c","order":2,"width":0,"height":0,"label":"Atmosferický tlak","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":180,"wires":[[]]},{"id":"2d05c0fa.07f37","type":"ui_text","z":"99d692a1.3c57e","group":"3434c648.d45f9a","order":1,"width":0,"height":0,"name":"","label":"Relativní Vlhkost","format":"{{msg.payload}}%","layout":"row-left","x":890,"y":300,"wires":[]},{"id":"820d2e0d.ec2a","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/hygrometer/0:0/relative-humidity","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":330,"y":300,"wires":[["2d05c0fa.07f37","76a16fb3.dd0c5"]]},{"id":"76a16fb3.dd0c5","type":"ui_chart","z":"99d692a1.3c57e","name":"","group":"3434c648.d45f9a","order":2,"width":0,"height":0,"label":"Relativní Vlhkost","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":260,"wires":[[]]},{"id":"fba6261e.1895a8","type":"ui_text","z":"99d692a1.3c57e","group":"7e6e0767.6a77a8","order":1,"width":0,"height":0,"name":"","label":"VOC koncentrace","format":"{{msg.payload}}ppm","layout":"row-left","x":890,"y":380,"wires":[]},{"id":"e5e504d1.de3278","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/voc-lp-sensor/0:0/tvoc","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":380,"wires":[["fba6261e.1895a8","4a08aea9.4cfe4"]]},{"id":"4a08aea9.4cfe4","type":"ui_chart","z":"99d692a1.3c57e","name":"","group":"7e6e0767.6a77a8","order":2,"width":0,"height":0,"label":"VOC koncentrace","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":340,"wires":[[]]},{"id":"2e264900.89c008","type":"led-strip","z":"99d692a1.3c57e","name":"","module":"climate-with-led-encoder:0","mode":"color","color":"#000000","wait":"50","x":340,"y":500,"wires":[["a39ddeca.beeaa"]]},{"id":"a39ddeca.beeaa","type":"mqtt out","z":"99d692a1.3c57e","name":"","topic":"","qos":"","retain":"","broker":"29fba84a.b2af58","x":510,"y":500,"wires":[]},{"id":"af04ac45.cff45","type":"inject","z":"99d692a1.3c57e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":500,"wires":[["2e264900.89c008"]]},{"id":"d34de3bf.d5e0c","type":"relay","z":"99d692a1.3c57e","name":"","module":"climate-with-led-encoder:0","rel":"power-module","mode":"off","x":330,"y":460,"wires":[["a39ddeca.beeaa"]]},{"id":"c53dce1.290633","type":"inject","z":"99d692a1.3c57e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":460,"wires":[["d34de3bf.d5e0c"]]},{"id":"a8ff5d47.3a7f9","type":"ui_text","z":"886ab453.f7a7d8","group":"80f945d3.8c4088","order":1,"width":0,"height":0,"name":"","label":"Pohyb","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":240,"wires":[]},{"id":"54d11fac.51af7","type":"switch","z":"886ab453.f7a7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":240,"wires":[["76bdbf7.846254"],["b43811cf.51c08"]]},{"id":"76bdbf7.846254","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ano","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":220,"wires":[["a8ff5d47.3a7f9"]]},{"id":"b43811cf.51c08","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["a8ff5d47.3a7f9"]]},{"id":"3e5fe480.6ff81c","type":"ui_text","z":"886ab453.f7a7d8","group":"ca12e220.b200d","order":1,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":720,"y":360,"wires":[]},{"id":"104b2976.501fd7","type":"ui_chart","z":"886ab453.f7a7d8","name":"","group":"ca12e220.b200d","order":2,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":320,"wires":[[]]},{"id":"e4428733.d8eaa8","type":"ui_text","z":"886ab453.f7a7d8","group":"41fbf478.e00bbc","order":1,"width":0,"height":0,"name":"","label":"CO2 koncentrace","format":"{{msg.payload}} ppm","layout":"row-left","x":730,"y":500,"wires":[]},{"id":"c4b25dae.e38e","type":"ui_chart","z":"886ab453.f7a7d8","name":"","group":"41fbf478.e00bbc","order":2,"width":0,"height":0,"label":"CO2 koncentrace","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":460,"wires":[[]]},{"id":"b55eac44.cefc8","type":"ui_text","z":"886ab453.f7a7d8","group":"ff73fb29.366668","order":1,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":860,"y":580,"wires":[]},{"id":"82106f02.bb287","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":270,"y":580,"wires":[["b55eac44.cefc8"]]},{"id":"7958949c.b3401c","type":"ui_text","z":"886ab453.f7a7d8","group":"ff73fb29.366668","order":2,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":850,"y":640,"wires":[]},{"id":"34c28d9f.df54e2","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":270,"y":660,"wires":[["e8d70270.8c26e"]]},{"id":"e42f9953.871d88","type":"ui_gauge","z":"886ab453.f7a7d8","name":"","group":"ff73fb29.366668","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":680,"wires":[]},{"id":"e8d70270.8c26e","type":"function","z":"886ab453.f7a7d8","name":"","func":"var result = msg.payload.substring(1, msg.payload.length-1);\n\nmsg.payload = parseInt(result, 10);\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":660,"wires":[["e42f9953.871d88","7958949c.b3401c"]]},{"id":"45eef795.426c78","type":"ui_text","z":"886ab453.f7a7d8","group":"8e366e43.366aa","order":1,"width":0,"height":0,"name":"","label":"Relativní Vlhkost","format":"{{msg.payload}}%","layout":"row-left","x":850,"y":780,"wires":[]},{"id":"65ceeea6.be9eb","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/climate-with-led-encoder:0/hygrometer/0:0/relative-humidity","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":290,"y":780,"wires":[["45eef795.426c78","98ef0172.05219"]]},{"id":"98ef0172.05219","type":"ui_chart","z":"886ab453.f7a7d8","name":"","group":"8e366e43.366aa","order":2,"width":0,"height":0,"label":"Relativní Vlhkost","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":740,"wires":[[]]},{"id":"7f4a856c.cb762c","type":"change","z":"3b875df7.8737b2","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"Ano","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":460,"wires":[["3a2d5f5.f61c1a"]]},{"id":"8f2e4590.e6c0f8","type":"ui_text","z":"23fea3cf.c3210c","group":"b2c61f6.10c6ee","order":1,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":840,"y":140,"wires":[]},{"id":"347727a9.cc5078","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":140,"wires":[["8f2e4590.e6c0f8","2b186921.579506"]]},{"id":"2b186921.579506","type":"ui_chart","z":"23fea3cf.c3210c","name":"","group":"b2c61f6.10c6ee","order":2,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":100,"wires":[[]]},{"id":"3fc73442.1123ac","type":"ui_text","z":"23fea3cf.c3210c","group":"d6533457.c33358","order":1,"width":0,"height":0,"name":"","label":"Atmosferický tlak","format":"{{msg.payload}} ","layout":"row-left","x":870,"y":220,"wires":[]},{"id":"7efd227.591a6dc","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/barometer/0:0/pressure","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":220,"wires":[["3fc73442.1123ac","5cde6cca.904f04"]]},{"id":"5cde6cca.904f04","type":"ui_chart","z":"23fea3cf.c3210c","name":"","group":"d6533457.c33358","order":2,"width":0,"height":0,"label":"Atmosferický tlak","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":180,"wires":[[]]},{"id":"e78e5579.97fdd8","type":"ui_text","z":"23fea3cf.c3210c","group":"cdf2c724.95b738","order":1,"width":0,"height":0,"name":"","label":"Relativní Vlhkost","format":"{{msg.payload}}%","layout":"row-left","x":870,"y":300,"wires":[]},{"id":"8529767d.6cfb38","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/hygrometer/0:0/relative-humidity","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":320,"y":300,"wires":[["e78e5579.97fdd8","f548f52f.ea85b8"]]},{"id":"f548f52f.ea85b8","type":"ui_chart","z":"23fea3cf.c3210c","name":"","group":"cdf2c724.95b738","order":2,"width":0,"height":0,"label":"Relativní Vlhkost","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":260,"wires":[[]]},{"id":"767b41f0.1fada","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/lux-meter/0:0/illuminance","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":380,"wires":[["ebf25365.08c74","8bf24a86.2b9208"]]},{"id":"ebf25365.08c74","type":"ui_text","z":"23fea3cf.c3210c","group":"75bfec26.7ca1c4","order":1,"width":0,"height":0,"name":"","label":"Osvětlení","format":"{{msg.payload}} lux","layout":"row-left","x":840,"y":380,"wires":[]},{"id":"8bf24a86.2b9208","type":"ui_chart","z":"23fea3cf.c3210c","name":"","group":"75bfec26.7ca1c4","order":2,"width":0,"height":0,"label":"Osvětlení","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":340,"wires":[[]]},{"id":"5fd2b2a8.f31e7c","type":"ui_text","z":"23fea3cf.c3210c","group":"fbe1d1f4.30c4c","order":0,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":860,"y":460,"wires":[]},{"id":"5cda21d8.7c601","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":270,"y":460,"wires":[["5fd2b2a8.f31e7c"]]},{"id":"356b086d.91c9f8","type":"ui_text","z":"23fea3cf.c3210c","group":"fbe1d1f4.30c4c","order":0,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":850,"y":520,"wires":[]},{"id":"4f15604d.f9e4e","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":280,"y":540,"wires":[["b80bd0e6.05846"]]},{"id":"85c01dff.f6d1c","type":"ui_gauge","z":"23fea3cf.c3210c","name":"","group":"fbe1d1f4.30c4c","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":560,"wires":[]},{"id":"b80bd0e6.05846","type":"function","z":"23fea3cf.c3210c","name":"","func":"var result = msg.payload.substring(1, msg.payload.length-1);\n\nmsg.payload = parseInt(result, 10);\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":540,"wires":[["85c01dff.f6d1c","356b086d.91c9f8"]]},{"id":"fff3800c.ce1e4","type":"mqtt in","z":"e19e0078.9ccb8","name":"","topic":"node/home/bathroom/flood-detector/flood-detector/a/alarm","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":390,"y":200,"wires":[["c0f0a7df.2f3ff8"]]},{"id":"9c70a4e3.b99c08","type":"ui_text","z":"e19e0078.9ccb8","group":"f44fdb7d.0a3ac8","order":3,"width":0,"height":0,"name":"","label":"Únik vody","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":200,"wires":[]},{"id":"c0f0a7df.2f3ff8","type":"change","z":"e19e0078.9ccb8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"Ano","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["9c70a4e3.b99c08"]]},{"id":"f1fb720c.c8f7a","type":"ui_text","z":"e19e0078.9ccb8","group":"51d7c66c.70fd08","order":0,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":940,"y":300,"wires":[]},{"id":"d27b84eb.08a8f8","type":"mqtt in","z":"e19e0078.9ccb8","name":"","topic":"node/home/bathroom/flood-detector/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":410,"y":300,"wires":[["f1fb720c.c8f7a","fd51dc20.ed92a"]]},{"id":"fd51dc20.ed92a","type":"ui_chart","z":"e19e0078.9ccb8","name":"","group":"51d7c66c.70fd08","order":4,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":260,"wires":[[]]},{"id":"da41112f.15d3c","type":"ui_text","z":"e19e0078.9ccb8","group":"6569ebac.0bb3f4","order":0,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":960,"y":400,"wires":[]},{"id":"89dcb655.6ad4b8","type":"mqtt in","z":"e19e0078.9ccb8","name":"","topic":"node/home/bathroom/flood-detector/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":370,"y":400,"wires":[["da41112f.15d3c"]]},{"id":"c1b56f24.900df","type":"ui_text","z":"e19e0078.9ccb8","group":"6569ebac.0bb3f4","order":0,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":950,"y":460,"wires":[]},{"id":"baffdef4.fc44b","type":"mqtt in","z":"e19e0078.9ccb8","name":"","topic":"node/home/bathroom/flood-detector/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":380,"y":480,"wires":[["97ab9c53.38425"]]},{"id":"433eb3e.a6d0c4c","type":"ui_gauge","z":"e19e0078.9ccb8","name":"","group":"6569ebac.0bb3f4","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":500,"wires":[]},{"id":"97ab9c53.38425","type":"function","z":"e19e0078.9ccb8","name":"","func":"var result = msg.payload.substring(1, msg.payload.length-1);\n\nmsg.payload = parseInt(result, 10);\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["433eb3e.a6d0c4c","c1b56f24.900df"]]}]