Node-RED flows/flows.json
[{"id":"fda3513d.5e392","type":"tab","label":"Home","disabled":false,"info":""},{"id":"813d2714.3e8838","type":"tab","label":"Living Room","disabled":false,"info":""},{"id":"cecc07b4.9c2e58","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"886ab453.f7a7d8","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"99d692a1.3c57e","type":"tab","label":"Workshop","disabled":false,"info":""},{"id":"23fea3cf.c3210c","type":"tab","label":"Balcony","disabled":false,"info":""},{"id":"e19e0078.9ccb8","type":"tab","label":"Bathroom","disabled":false,"info":""},{"id":"2195377a.a21458","type":"tab","label":"IKEA Smart Lights","disabled":false,"info":""},{"id":"3b875df7.8737b2","type":"tab","label":"Thermostat With QR terminal","disabled":false,"info":""},{"id":"29fba84a.b2af58","type":"mqtt-broker","z":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bf6a3c96.35048","type":"ui_base","z":"","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Termostat","tab":"11207769.c31889","order":1,"disp":true,"width":6,"collapse":true},{"id":"76374a06.d6bfe4","type":"ui_group","z":"","name":"Wifi Terminal","tab":"d6c20697.634c58","order":1,"disp":true,"width":"6","collapse":true},{"id":"d6c20697.634c58","type":"ui_tab","z":"","name":"Wifi Terminal","icon":"dashboard","order":8},{"id":"9f01375.623dcc8","type":"ikea-connection","z":"","address":"192.168.1.101","name":""},{"id":"3e4f3eaf.317502","type":"ui_tab","z":"","name":"Living Room","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"9e4e8b99.3682f8","type":"ui_group","z":"","name":"Teplota","tab":"3e4f3eaf.317502","order":1,"disp":true,"width":"6","collapse":true},{"id":"265531a0.43a7ee","type":"ui_group","z":"","name":"Pohyb","tab":"3e4f3eaf.317502","order":2,"disp":true,"width":"4","collapse":true},{"id":"32c6dcc2.c065c4","type":"ui_group","z":"","name":"Baterie","tab":"3e4f3eaf.317502","order":3,"disp":true,"width":"6","collapse":true},{"id":"128b6903.f92397","type":"ui_tab","z":"","name":"Kitchen","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"c238f078.c38b5","type":"ui_group","z":"","name":"Baterie","tab":"128b6903.f92397","order":1,"disp":true,"width":"6","collapse":true},{"id":"480497ed.5ebdc8","type":"ui_group","z":"","name":"Pohyb","tab":"128b6903.f92397","order":2,"disp":true,"width":"6","collapse":true},{"id":"1b7d9ffe.cae11","type":"ui_group","z":"","name":"Teplota","tab":"128b6903.f92397","order":3,"disp":true,"width":"6","collapse":true},{"id":"3d390fea.09de4","type":"ui_group","z":"","name":"Termostat Baterie","tab":"11207769.c31889","order":2,"disp":true,"width":"6","collapse":true},{"id":"ce0a3e7f.44961","type":"ui_tab","z":"","name":"Bedroom","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ca12e220.b200d","type":"ui_group","z":"","name":"Teplota","tab":"ce0a3e7f.44961","order":1,"disp":true,"width":"6","collapse":true},{"id":"2c9ae48.4458d1c","type":"ui_tab","z":"","name":"WorkShop","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"447a395f.d7d218","type":"ui_group","z":"","name":"Teplota","tab":"2c9ae48.4458d1c","order":1,"disp":true,"width":"6","collapse":true},{"id":"6160552f.cf7d9c","type":"ui_group","z":"","name":"Tlak","tab":"2c9ae48.4458d1c","order":2,"disp":true,"width":"6","collapse":true},{"id":"3434c648.d45f9a","type":"ui_group","z":"","name":"Vlhkost","tab":"2c9ae48.4458d1c","order":3,"disp":true,"width":"6","collapse":true},{"id":"7e6e0767.6a77a8","type":"ui_group","z":"","name":"Zněčištění Vzduchu","tab":"2c9ae48.4458d1c","order":4,"disp":true,"width":"6","collapse":true},{"id":"80f945d3.8c4088","type":"ui_group","z":"","name":"Pohyb","tab":"ce0a3e7f.44961","order":5,"disp":true,"width":"6","collapse":true},{"id":"41fbf478.e00bbc","type":"ui_group","z":"","name":"CO2","tab":"ce0a3e7f.44961","order":3,"disp":true,"width":"6","collapse":true},{"id":"ff73fb29.366668","type":"ui_group","z":"","name":"Baterie","tab":"ce0a3e7f.44961","order":4,"disp":true,"width":"6","collapse":true},{"id":"8e366e43.366aa","type":"ui_group","z":"","name":"Vlhkost","tab":"ce0a3e7f.44961","order":2,"disp":true,"width":"6","collapse":true},{"id":"48f8d152.6dd5f","type":"ui_tab","z":"","name":"Balcony","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"b2c61f6.10c6ee","type":"ui_group","z":"","name":"Teplota","tab":"48f8d152.6dd5f","order":1,"disp":true,"width":"6","collapse":true},{"id":"cdf2c724.95b738","type":"ui_group","z":"","name":"Vlhkost","tab":"48f8d152.6dd5f","order":2,"disp":true,"width":"6","collapse":true},{"id":"d6533457.c33358","type":"ui_group","z":"","name":"Tlak","tab":"48f8d152.6dd5f","order":3,"disp":true,"width":"6","collapse":true},{"id":"75bfec26.7ca1c4","type":"ui_group","z":"","name":"Světlo","tab":"48f8d152.6dd5f","order":4,"disp":true,"width":"6","collapse":true},{"id":"fbe1d1f4.30c4c","type":"ui_group","z":"","name":"Baterie","tab":"48f8d152.6dd5f","order":5,"disp":true,"width":"6","collapse":true},{"id":"b68311bf.7dc2c","type":"ui_tab","z":"","name":"Bathroom","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"51d7c66c.70fd08","type":"ui_group","z":"","name":"Teplota","tab":"b68311bf.7dc2c","order":1,"disp":true,"width":"6","collapse":true},{"id":"f44fdb7d.0a3ac8","type":"ui_group","z":"","name":"Záplavový sensor","tab":"b68311bf.7dc2c","order":2,"disp":true,"width":"6","collapse":true},{"id":"6569ebac.0bb3f4","type":"ui_group","z":"","name":"Baterie","tab":"b68311bf.7dc2c","order":3,"disp":true,"width":"6","collapse":true},{"id":"5532c3a.85bd83c","type":"blynk-ws-client","z":"","name":"Living Room Blynk","path":"wss://127.0.0.1:9443/websockets","key":"JcyPqoXnSHdmDtfvnaxtZEC5mPPLLQxU","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"935f96cc.649b98","type":"blynk-ws-client","z":"","name":"Home overview Blynk","path":"wss://127.0.0.1:9443/websockets","key":"7wJ8JzviFXaBYjjc-33BhlmkyA3f9zqQ","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"d98546bc.029a48","type":"blynk-ws-client","z":"","name":"Kitchen Blynk","path":"wss://127.0.0.1:9443/websockets","key":"5o2OAJetTwNHP6tppVtx6gVxYDbb5MpJ","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"669bb92d.bc5b58","type":"blynk-ws-client","z":"","name":"Bedroom Blynk","path":"wss://127.0.0.1:9443/websockets","key":"PHwOt534_NeT5ETBEwlEYAp6HEhdNf6r","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"d92e7890.b3e098","type":"blynk-ws-client","z":"","name":"Balcony Blynk","path":"wss://127.0.0.1:9443/websockets","key":"houK2bW2CmddWB6eIp46sQtDpWPvTvCZ","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"373fc563.27ef3a","type":"blynk-ws-client","z":"","name":"Workshop Blynk","path":"wss://127.0.0.1:9443/websockets","key":"PnvyKcbnp_i44M3SNSC6-6UOjcKmF8bj","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"ee5c9541.3e0258","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"SmartHomedb","tz":"","charset":"UTF8"},{"id":"452d0ecd.e02a1","type":"mqtt in","z":"2195377a.a21458","name":"","topic":"home/living-room/light","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":160,"y":140,"wires":[["b24d8f54.2837b"]]},{"id":"b24d8f54.2837b","type":"switch","z":"2195377a.a21458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"False","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":360,"y":140,"wires":[["12087c57.a6d134"],["12087c57.a6d134"],["85864053.5b49"],["85864053.5b49"]]},{"id":"f92b5c8d.b58b1","type":"mqtt in","z":"2195377a.a21458","name":"","topic":"home/bedroom/light","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":150,"y":540,"wires":[["1faec7e9.e58d08"]]},{"id":"1faec7e9.e58d08","type":"switch","z":"2195377a.a21458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"False","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":360,"y":540,"wires":[["55fc17dc.859678"],["55fc17dc.859678"],["8aea426c.216f2"],["8aea426c.216f2"]]},{"id":"55fc17dc.859678","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"onOff\":true}","tot":"json"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":500,"wires":[["f8dbe6dd.d0ee08"]]},{"id":"8aea426c.216f2","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"onOff\":false}","tot":"json"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":580,"wires":[["f8dbe6dd.d0ee08"]]},{"id":"99dc02bd.d7ea3","type":"mqtt out","z":"2195377a.a21458","name":"","topic":"home/bedroom/light","qos":"","retain":"","broker":"29fba84a.b2af58","x":1230,"y":540,"wires":[]},{"id":"8af93b5d.7b3b08","type":"mqtt out","z":"2195377a.a21458","name":"","topic":"home/living-room/light","qos":"","retain":"","broker":"29fba84a.b2af58","x":1230,"y":140,"wires":[]},{"id":"12087c57.a6d134","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"onOff\":true}","tot":"json"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":100,"wires":[["f95a0b36.610348"]]},{"id":"85864053.5b49","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"onOff\":false}","tot":"json"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":180,"wires":[["f95a0b36.610348"]]},{"id":"f8dbe6dd.d0ee08","type":"ikea-homesmart","z":"2195377a.a21458","name":"","deviceId":"131075","deviceName":"Pokoj","deviceType":"ikea-groups","deviceIcon":"font-awesome/fa-sitemap","connection":"9f01375.623dcc8","observe":true,"x":770,"y":540,"wires":[[]]},{"id":"65c9abd3.c5bf74","type":"ikea-homesmart","z":"2195377a.a21458","name":"","deviceId":"65538","deviceName":"Žárovka obyvák 2","deviceType":"ikea-lights","deviceIcon":"font-awesome/fa-lightbulb-o","connection":"9f01375.623dcc8","observe":true,"x":820,"y":100,"wires":[["81239462.749be8"]]},{"id":"81239462.749be8","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lightList[0].onOff","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":140,"wires":[["8af93b5d.7b3b08","545222f0.96f57c"]]},{"id":"d187d0ea.8b3ae","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lightList[0].onOff","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":540,"wires":[["99dc02bd.d7ea3","83af3864.4898e8"]]},{"id":"f95a0b36.610348","type":"ikea-homesmart","z":"2195377a.a21458","name":"","deviceId":"131074","deviceName":"Obyvák","deviceType":"ikea-groups","deviceIcon":"font-awesome/fa-sitemap","connection":"9f01375.623dcc8","observe":true,"x":790,"y":140,"wires":[[]]},{"id":"85996a9f.07a8c8","type":"ikea-homesmart","z":"2195377a.a21458","name":"","deviceId":"65540","deviceName":"Žárovka pokoj","deviceType":"ikea-lights","deviceIcon":"font-awesome/fa-lightbulb-o","connection":"9f01375.623dcc8","observe":true,"x":800,"y":500,"wires":[["d187d0ea.8b3ae"]]},{"id":"6de75bab.df0de4","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/motion-detector/thermometer/0:1/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":360,"y":440,"wires":[["88f19d36.d3ef5","5e025fed.6fe0c","8571fec6.0baf1"]]},{"id":"ed5f9c3e.c9812","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/motion-detector/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":320,"y":540,"wires":[["1f5eff7e.1d7051"]]},{"id":"e53867d7.ea80c8","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/motion-detector/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":330,"y":640,"wires":[["cea71b39.1a80e8","e3802023.1ef49","5ee28779.904e88"]]},{"id":"57b5dc65.f92e04","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/motion-detector/movement","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":220,"wires":[["a7f67ef1.7024f"]]},{"id":"a7f67ef1.7024f","type":"switch","z":"813d2714.3e8838","name":"Check Payload","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":220,"wires":[["79a6e023.a519f","d4ac5d2f.d92c6"],["b98223a1.28d5b","360611d7.958b0e"]]},{"id":"79a6e023.a519f","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ano","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":200,"wires":[["153c5a0.afc5ca6","9b5b07f1.23f8b8"]]},{"id":"b98223a1.28d5b","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":240,"wires":[["9b5b07f1.23f8b8"]]},{"id":"2943987.032cd68","type":"ui_text","z":"cecc07b4.9c2e58","group":"1b7d9ffe.cae11","order":0,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":880,"y":400,"wires":[]},{"id":"4879e35.bdbbc1c","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/motion-detector/thermometer/0:1/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":350,"y":400,"wires":[["2943987.032cd68","1620f094.c08d1f","86f2a192.ded8a"]]},{"id":"60ccb8ce.5d6c28","type":"ui_text","z":"cecc07b4.9c2e58","group":"c238f078.c38b5","order":0,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":900,"y":520,"wires":[]},{"id":"f39dcf2f.ba1a","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/motion-detector/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":520,"wires":[["60ccb8ce.5d6c28"]]},{"id":"59979d96.33b024","type":"ui_text","z":"cecc07b4.9c2e58","group":"c238f078.c38b5","order":0,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":890,"y":640,"wires":[]},{"id":"8b6ee643.3e54e8","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/motion-detector/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":320,"y":640,"wires":[["a6662c04.6a4d4","59979d96.33b024","d4a56e0c.e4539"]]},{"id":"d4a56e0c.e4539","type":"ui_gauge","z":"cecc07b4.9c2e58","name":"","group":"c238f078.c38b5","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":680,"wires":[]},{"id":"1620f094.c08d1f","type":"ui_chart","z":"cecc07b4.9c2e58","name":"","group":"1b7d9ffe.cae11","order":4,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":360,"wires":[[]]},{"id":"86df6ce0.7e575","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/motion-detector/movement","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":290,"y":180,"wires":[["cacfd1b5.e63d6"]]},{"id":"96c833e2.3d58b","type":"ui_text","z":"cecc07b4.9c2e58","group":"480497ed.5ebdc8","order":5,"width":0,"height":0,"name":"","label":"Pohyb","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":180,"wires":[]},{"id":"cacfd1b5.e63d6","type":"switch","z":"cecc07b4.9c2e58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":180,"wires":[["a42639f0.9fc4e8","622a1b37.3b98b4"],["f8fe6d2c.3665f","2d3df3d9.cb8abc"]]},{"id":"a42639f0.9fc4e8","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ano","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":160,"wires":[["96c833e2.3d58b","51f8346f.deec1c"]]},{"id":"f8fe6d2c.3665f","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":200,"wires":[["96c833e2.3d58b"]]},{"id":"16818e2d.9ab862","type":"ui_text_input","z":"3b875df7.8737b2","name":"","label":"SSID","group":"76374a06.d6bfe4","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":150,"y":80,"wires":[["ea009fd3.a57b8"]]},{"id":"7d958606.1332c8","type":"ui_text_input","z":"3b875df7.8737b2","name":"","label":"Password","group":"76374a06.d6bfe4","order":0,"width":0,"height":0,"passthru":true,"mode":"password","delay":"0","topic":"","x":160,"y":120,"wires":[["62616a6c.764144"]]},{"id":"362b5abb.48a2a6","type":"ui_dropdown","z":"3b875df7.8737b2","name":"","label":"Encryption","tooltip":"","place":"Choose encryption mode","group":"76374a06.d6bfe4","order":0,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"WPA","value":"WPA","type":"str"},{"label":"WEP","value":"WEP","type":"str"}],"payload":"","topic":"","x":170,"y":160,"wires":[["4bbc6188.6fe4"]]},{"id":"61a64a54.cfc024","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/thermometer/0:1/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":340,"y":260,"wires":[["524939d9.be1218"]]},{"id":"62616a6c.764144","type":"function","z":"3b875df7.8737b2","name":"Password Saver","func":"flow.set(\"password\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":120,"wires":[[]]},{"id":"ea009fd3.a57b8","type":"function","z":"3b875df7.8737b2","name":"SSID Saver","func":"flow.set(\"SSID\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[[]]},{"id":"4bbc6188.6fe4","type":"function","z":"3b875df7.8737b2","name":"Encryption Saver","func":"flow.set(\"encryption\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[[]]},{"id":"f57d2aa9.8d8b38","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/push-button/-/event-count","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":330,"y":220,"wires":[["524939d9.be1218"]]},{"id":"524939d9.be1218","type":"function","z":"3b875df7.8737b2","name":"String builder","func":"msg.payload = \"\\\"\"\nmsg.payload = msg.payload + \"WIFI:T:\" + flow.get(\"encryption\") + \";S:\" + flow.get(\"SSID\") + \";P:\" + flow.get(\"password\") + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":240,"wires":[["4c60b1d7.5d81a"]]},{"id":"4c60b1d7.5d81a","type":"mqtt out","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/qr/-/chng/code","qos":"","retain":"","broker":"29fba84a.b2af58","x":1120,"y":240,"wires":[]},{"id":"ca0a8fa8.7c06b","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/thermometer/set-point/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":360,"y":340,"wires":[["2e6c0b50.de8044"]]},{"id":"2e6c0b50.de8044","type":"function","z":"3b875df7.8737b2","name":"Point Temp saver","func":"flow.set(\"pointTemp\", parseFloat(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["4613dd21.4415d4"]]},{"id":"60dd390a.16c258","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/thermometer/0:1/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":340,"y":400,"wires":[["bfcdab6b.f5eac8","10359359.a5324d"]]},{"id":"9a520daa.2bdf5","type":"function","z":"3b875df7.8737b2","name":"Temperature Check","func":"if(parseFloat(msg.payload) < flow.get(\"pointTemp\"))\n{\n    msg.payload = true;\n    return msg;\n}\nelse if(parseFloat(msg.payload) >= flow.get(\"pointTemp\"))\n{\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":890,"y":400,"wires":[["4c04af6d.cbc8a","7f4a856c.cb762c"]]},{"id":"4c04af6d.cbc8a","type":"mqtt out","z":"3b875df7.8737b2","name":"","topic":"node/power-controler:0/relay/-/state/set","qos":"","retain":"","broker":"29fba84a.b2af58","x":1180,"y":400,"wires":[]},{"id":"4613dd21.4415d4","type":"ui_text","z":"3b875df7.8737b2","group":"57ff470b.93fdf8","order":1,"width":0,"height":0,"name":"","label":"Hraniční Teplota","format":"{{msg.payload}}°C","layout":"col-center","x":1020,"y":340,"wires":[]},{"id":"bfcdab6b.f5eac8","type":"ui_gauge","z":"3b875df7.8737b2","name":"","group":"57ff470b.93fdf8","order":2,"width":0,"height":0,"gtype":"gage","title":"Teplota v místnosti","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":440,"wires":[]},{"id":"3a2d5f5.f61c1a","type":"ui_text","z":"3b875df7.8737b2","group":"57ff470b.93fdf8","order":3,"width":0,"height":0,"name":"","label":"Vytápění","format":"{{msg.payload}}","layout":"col-center","x":1260,"y":460,"wires":[]},{"id":"10359359.a5324d","type":"rbe","z":"3b875df7.8737b2","name":"","func":"deadbandEq","gap":"0.5","start":"","inout":"out","property":"payload","x":700,"y":400,"wires":[["9a520daa.2bdf5"]]},{"id":"ebac28e7.b785c8","type":"ui_text","z":"3b875df7.8737b2","group":"3d390fea.09de4","order":1,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":880,"y":540,"wires":[]},{"id":"dac3545f.f5b118","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":540,"wires":[["ebac28e7.b785c8"]]},{"id":"26de6230.3b2dbe","type":"ui_text","z":"3b875df7.8737b2","group":"3d390fea.09de4","order":2,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":870,"y":600,"wires":[]},{"id":"42125f1.74b9da","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":620,"wires":[["92671c0.f5f76e8"]]},{"id":"d2f8b1e0.3cd5d","type":"ui_gauge","z":"3b875df7.8737b2","name":"","group":"3d390fea.09de4","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":640,"wires":[]},{"id":"92671c0.f5f76e8","type":"function","z":"3b875df7.8737b2","name":"","func":"var result = msg.payload.substring(1, msg.payload.length-1);\n\nmsg.payload = parseInt(result, 10);\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":620,"wires":[["d2f8b1e0.3cd5d","26de6230.3b2dbe"]]},{"id":"4db8eca2.56b1f4","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":500,"wires":[["104b2976.501fd7","3e5fe480.6ff81c","219a22b6.2a4f8e"]]},{"id":"3aa95fd7.0254c","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/movement","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":250,"y":300,"wires":[["54d11fac.51af7"]]},{"id":"fdac538f.68631","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/co2-meter/-/concentration","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":290,"y":660,"wires":[["c4b25dae.e38e","e4428733.d8eaa8","7ab8ea5c.acc8c4"]]},{"id":"e83e9a7c.d54258","type":"ui_text","z":"99d692a1.3c57e","group":"447a395f.d7d218","order":1,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":860,"y":140,"wires":[]},{"id":"743d5d58.ac42c4","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":320,"y":140,"wires":[["e83e9a7c.d54258","e8722ce8.fad97","1f86e090.15c48f"]]},{"id":"e8722ce8.fad97","type":"ui_chart","z":"99d692a1.3c57e","name":"","group":"447a395f.d7d218","order":2,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":100,"wires":[[]]},{"id":"ce8834a5.bf8dd8","type":"ui_text","z":"99d692a1.3c57e","group":"6160552f.cf7d9c","order":1,"width":0,"height":0,"name":"","label":"Atmosferický tlak","format":"{{msg.payload}} ","layout":"row-left","x":890,"y":260,"wires":[]},{"id":"f82023bd.bc315","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/barometer/0:0/pressure","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":260,"wires":[["ce8834a5.bf8dd8","a9bfb73e.85b6d8","6d28b637.aa7f78"]]},{"id":"a9bfb73e.85b6d8","type":"ui_chart","z":"99d692a1.3c57e","name":"","group":"6160552f.cf7d9c","order":2,"width":0,"height":0,"label":"Atmosferický tlak","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":220,"wires":[[]]},{"id":"2d05c0fa.07f37","type":"ui_text","z":"99d692a1.3c57e","group":"3434c648.d45f9a","order":1,"width":0,"height":0,"name":"","label":"Relativní Vlhkost","format":"{{msg.payload}}%","layout":"row-left","x":890,"y":380,"wires":[]},{"id":"820d2e0d.ec2a","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/hygrometer/0:0/relative-humidity","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":330,"y":380,"wires":[["2d05c0fa.07f37","76a16fb3.dd0c5","b00f3585.92a5a8"]]},{"id":"76a16fb3.dd0c5","type":"ui_chart","z":"99d692a1.3c57e","name":"","group":"3434c648.d45f9a","order":2,"width":0,"height":0,"label":"Relativní Vlhkost","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":340,"wires":[[]]},{"id":"fba6261e.1895a8","type":"ui_text","z":"99d692a1.3c57e","group":"7e6e0767.6a77a8","order":1,"width":0,"height":0,"name":"","label":"VOC koncentrace","format":"{{msg.payload}}ppm","layout":"row-left","x":890,"y":500,"wires":[]},{"id":"e5e504d1.de3278","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/voc-lp-sensor/0:0/tvoc","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":500,"wires":[["fba6261e.1895a8","4a08aea9.4cfe4","74dbaa88.cea824"]]},{"id":"4a08aea9.4cfe4","type":"ui_chart","z":"99d692a1.3c57e","name":"","group":"7e6e0767.6a77a8","order":2,"width":0,"height":0,"label":"VOC koncentrace","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":460,"wires":[[]]},{"id":"2e264900.89c008","type":"led-strip","z":"99d692a1.3c57e","name":"","module":"climate-with-led-encoder:0","mode":"color","color":"#000000","wait":"50","x":340,"y":680,"wires":[["a39ddeca.beeaa"]]},{"id":"a39ddeca.beeaa","type":"mqtt out","z":"99d692a1.3c57e","name":"","topic":"","qos":"","retain":"","broker":"29fba84a.b2af58","x":510,"y":680,"wires":[]},{"id":"af04ac45.cff45","type":"inject","z":"99d692a1.3c57e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":680,"wires":[["2e264900.89c008"]]},{"id":"d34de3bf.d5e0c","type":"relay","z":"99d692a1.3c57e","name":"","module":"climate-with-led-encoder:0","rel":"power-module","mode":"off","x":330,"y":640,"wires":[["a39ddeca.beeaa"]]},{"id":"c53dce1.290633","type":"inject","z":"99d692a1.3c57e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":640,"wires":[["d34de3bf.d5e0c"]]},{"id":"a8ff5d47.3a7f9","type":"ui_text","z":"886ab453.f7a7d8","group":"80f945d3.8c4088","order":1,"width":0,"height":0,"name":"","label":"Pohyb","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":300,"wires":[]},{"id":"54d11fac.51af7","type":"switch","z":"886ab453.f7a7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":300,"wires":[["76bdbf7.846254","eb597224.b9c8b"],["b43811cf.51c08","f40c9881.311928"]]},{"id":"76bdbf7.846254","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ano","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":280,"wires":[["a8ff5d47.3a7f9","24df929b.a3797e"]]},{"id":"b43811cf.51c08","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":320,"wires":[["a8ff5d47.3a7f9"]]},{"id":"3e5fe480.6ff81c","type":"ui_text","z":"886ab453.f7a7d8","group":"ca12e220.b200d","order":1,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":720,"y":500,"wires":[]},{"id":"104b2976.501fd7","type":"ui_chart","z":"886ab453.f7a7d8","name":"","group":"ca12e220.b200d","order":2,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":460,"wires":[[]]},{"id":"e4428733.d8eaa8","type":"ui_text","z":"886ab453.f7a7d8","group":"41fbf478.e00bbc","order":1,"width":0,"height":0,"name":"","label":"CO2 koncentrace","format":"{{msg.payload}} ppm","layout":"row-left","x":730,"y":660,"wires":[]},{"id":"c4b25dae.e38e","type":"ui_chart","z":"886ab453.f7a7d8","name":"","group":"41fbf478.e00bbc","order":2,"width":0,"height":0,"label":"CO2 koncentrace","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":620,"wires":[[]]},{"id":"b55eac44.cefc8","type":"ui_text","z":"886ab453.f7a7d8","group":"ff73fb29.366668","order":1,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":860,"y":780,"wires":[]},{"id":"82106f02.bb287","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":270,"y":780,"wires":[["b55eac44.cefc8"]]},{"id":"7958949c.b3401c","type":"ui_text","z":"886ab453.f7a7d8","group":"ff73fb29.366668","order":2,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":850,"y":840,"wires":[]},{"id":"34c28d9f.df54e2","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/co2-monitor/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":270,"y":880,"wires":[["7958949c.b3401c","e42f9953.871d88","a332d16.c27953"]]},{"id":"e42f9953.871d88","type":"ui_gauge","z":"886ab453.f7a7d8","name":"","group":"ff73fb29.366668","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":880,"wires":[]},{"id":"45eef795.426c78","type":"ui_text","z":"886ab453.f7a7d8","group":"8e366e43.366aa","order":1,"width":0,"height":0,"name":"","label":"Relativní Vlhkost","format":"{{msg.payload}}%","layout":"row-left","x":850,"y":1080,"wires":[]},{"id":"65ceeea6.be9eb","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/climate-with-led-encoder:0/hygrometer/0:0/relative-humidity","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":1060,"wires":[["45eef795.426c78","98ef0172.05219","cfa0159.225bbe8"]]},{"id":"98ef0172.05219","type":"ui_chart","z":"886ab453.f7a7d8","name":"","group":"8e366e43.366aa","order":2,"width":0,"height":0,"label":"Relativní Vlhkost","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":1040,"wires":[[]]},{"id":"7f4a856c.cb762c","type":"change","z":"3b875df7.8737b2","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"Ano","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":460,"wires":[["3a2d5f5.f61c1a"]]},{"id":"8f2e4590.e6c0f8","type":"ui_text","z":"23fea3cf.c3210c","group":"b2c61f6.10c6ee","order":1,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":840,"y":80,"wires":[]},{"id":"347727a9.cc5078","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":310,"y":80,"wires":[["8f2e4590.e6c0f8","2b186921.579506","e1bd5f39.1c78f"]]},{"id":"2b186921.579506","type":"ui_chart","z":"23fea3cf.c3210c","name":"","group":"b2c61f6.10c6ee","order":2,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":40,"wires":[[]]},{"id":"3fc73442.1123ac","type":"ui_text","z":"23fea3cf.c3210c","group":"d6533457.c33358","order":1,"width":0,"height":0,"name":"","label":"Atmosferický tlak","format":"{{msg.payload}} ","layout":"row-left","x":870,"y":200,"wires":[]},{"id":"7efd227.591a6dc","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/barometer/0:0/pressure","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":200,"wires":[["3fc73442.1123ac","5cde6cca.904f04","517e43e3.f8c26c"]]},{"id":"5cde6cca.904f04","type":"ui_chart","z":"23fea3cf.c3210c","name":"","group":"d6533457.c33358","order":2,"width":0,"height":0,"label":"Atmosferický tlak","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":160,"wires":[[]]},{"id":"e78e5579.97fdd8","type":"ui_text","z":"23fea3cf.c3210c","group":"cdf2c724.95b738","order":1,"width":0,"height":0,"name":"","label":"Relativní Vlhkost","format":"{{msg.payload}}%","layout":"row-left","x":870,"y":320,"wires":[]},{"id":"8529767d.6cfb38","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/hygrometer/0:0/relative-humidity","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":320,"y":320,"wires":[["e78e5579.97fdd8","f548f52f.ea85b8","839373c4.17afb"]]},{"id":"f548f52f.ea85b8","type":"ui_chart","z":"23fea3cf.c3210c","name":"","group":"cdf2c724.95b738","order":2,"width":0,"height":0,"label":"Relativní Vlhkost","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":280,"wires":[[]]},{"id":"767b41f0.1fada","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/lux-meter/0:0/illuminance","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":300,"y":440,"wires":[["ebf25365.08c74","8bf24a86.2b9208","30dd2989.d27766","1f8dbce6.c66c63"]]},{"id":"ebf25365.08c74","type":"ui_text","z":"23fea3cf.c3210c","group":"75bfec26.7ca1c4","order":1,"width":0,"height":0,"name":"","label":"Osvětlení","format":"{{msg.payload}} lux","layout":"row-left","x":840,"y":440,"wires":[]},{"id":"8bf24a86.2b9208","type":"ui_chart","z":"23fea3cf.c3210c","name":"","group":"75bfec26.7ca1c4","order":2,"width":0,"height":0,"label":"Osvětlení","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":400,"wires":[[]]},{"id":"5fd2b2a8.f31e7c","type":"ui_text","z":"23fea3cf.c3210c","group":"fbe1d1f4.30c4c","order":0,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":860,"y":600,"wires":[]},{"id":"5cda21d8.7c601","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":270,"y":600,"wires":[["5fd2b2a8.f31e7c"]]},{"id":"356b086d.91c9f8","type":"ui_text","z":"23fea3cf.c3210c","group":"fbe1d1f4.30c4c","order":0,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":850,"y":640,"wires":[]},{"id":"4f15604d.f9e4e","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/climate-monitor/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":280,"y":680,"wires":[["356b086d.91c9f8","85c01dff.f6d1c","53634273.c44fdc"]]},{"id":"85c01dff.f6d1c","type":"ui_gauge","z":"23fea3cf.c3210c","name":"","group":"fbe1d1f4.30c4c","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":680,"wires":[]},{"id":"fff3800c.ce1e4","type":"mqtt in","z":"e19e0078.9ccb8","name":"","topic":"node/home/bathroom/flood-detector/flood-detector/a/alarm","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":390,"y":200,"wires":[["c0f0a7df.2f3ff8"]]},{"id":"9c70a4e3.b99c08","type":"ui_text","z":"e19e0078.9ccb8","group":"f44fdb7d.0a3ac8","order":3,"width":0,"height":0,"name":"","label":"Únik vody","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":200,"wires":[]},{"id":"c0f0a7df.2f3ff8","type":"change","z":"e19e0078.9ccb8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"Ano","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"Ne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[["9c70a4e3.b99c08"]]},{"id":"f1fb720c.c8f7a","type":"ui_text","z":"e19e0078.9ccb8","group":"51d7c66c.70fd08","order":0,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":940,"y":300,"wires":[]},{"id":"d27b84eb.08a8f8","type":"mqtt in","z":"e19e0078.9ccb8","name":"","topic":"node/home/bathroom/flood-detector/thermometer/0:0/temperature","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":410,"y":300,"wires":[["f1fb720c.c8f7a","fd51dc20.ed92a"]]},{"id":"fd51dc20.ed92a","type":"ui_chart","z":"e19e0078.9ccb8","name":"","group":"51d7c66c.70fd08","order":4,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":940,"y":260,"wires":[[]]},{"id":"da41112f.15d3c","type":"ui_text","z":"e19e0078.9ccb8","group":"6569ebac.0bb3f4","order":0,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":960,"y":400,"wires":[]},{"id":"89dcb655.6ad4b8","type":"mqtt in","z":"e19e0078.9ccb8","name":"","topic":"node/home/bathroom/flood-detector/battery/-/voltage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":370,"y":400,"wires":[["da41112f.15d3c"]]},{"id":"c1b56f24.900df","type":"ui_text","z":"e19e0078.9ccb8","group":"6569ebac.0bb3f4","order":0,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":950,"y":460,"wires":[]},{"id":"baffdef4.fc44b","type":"mqtt in","z":"e19e0078.9ccb8","name":"","topic":"node/home/bathroom/flood-detector/voltage/percentage","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":380,"y":480,"wires":[["c1b56f24.900df","433eb3e.a6d0c4c"]]},{"id":"433eb3e.a6d0c4c","type":"ui_gauge","z":"e19e0078.9ccb8","name":"","group":"6569ebac.0bb3f4","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":500,"wires":[]},{"id":"b6091979.4afa98","type":"blynk-ws-out-notify","z":"813d2714.3e8838","name":"","client":"5532c3a.85bd83c","queue":false,"rate":5,"x":1230,"y":140,"wires":[]},{"id":"f7bcedac.6b8c2","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pohyb v obyvacím pokoji","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":140,"wires":[["b6091979.4afa98"]]},{"id":"153c5a0.afc5ca6","type":"switch","z":"813d2714.3e8838","name":"Is Alarm on?","property":"alarm","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":140,"wires":[["f7bcedac.6b8c2"]]},{"id":"2066d709.3e4b98","type":"blynk-ws-in-write","z":"813d2714.3e8838","name":"","pin":"2","pin_all":0,"client":"5532c3a.85bd83c","x":210,"y":80,"wires":[["4602f00.85c911"]]},{"id":"4602f00.85c911","type":"switch","z":"813d2714.3e8838","name":"Check Payload","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":80,"wires":[["645e1384.3a53ec"],["fc7e36f3.ab5668"]]},{"id":"645e1384.3a53ec","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"alarm","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":60,"wires":[[]]},{"id":"fc7e36f3.ab5668","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"alarm","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":100,"wires":[[]]},{"id":"88f19d36.d3ef5","type":"blynk-ws-out-write","z":"813d2714.3e8838","name":"","pin":"1","pinmode":0,"client":"5532c3a.85bd83c","x":900,"y":480,"wires":[]},{"id":"cea71b39.1a80e8","type":"blynk-ws-out-write","z":"813d2714.3e8838","name":"","pin":"0","pinmode":0,"client":"5532c3a.85bd83c","x":900,"y":600,"wires":[]},{"id":"d4ac5d2f.d92c6","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":300,"wires":[["e098bc85.7aee7"]]},{"id":"360611d7.958b0e","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":340,"wires":[["e098bc85.7aee7"]]},{"id":"e098bc85.7aee7","type":"blynk-ws-out-write","z":"813d2714.3e8838","name":"","pin":"3","pinmode":0,"client":"5532c3a.85bd83c","x":1040,"y":320,"wires":[]},{"id":"9b5b07f1.23f8b8","type":"ui_text","z":"813d2714.3e8838","group":"265531a0.43a7ee","order":5,"width":0,"height":0,"name":"","label":"Pohyb","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":220,"wires":[]},{"id":"5e025fed.6fe0c","type":"ui_chart","z":"813d2714.3e8838","name":"","group":"9e4e8b99.3682f8","order":4,"width":0,"height":0,"label":"Teplota","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":400,"wires":[[]]},{"id":"8571fec6.0baf1","type":"ui_text","z":"813d2714.3e8838","group":"9e4e8b99.3682f8","order":0,"width":0,"height":0,"name":"","label":"Teplota","format":"{{msg.payload}} °C","layout":"row-left","x":880,"y":440,"wires":[]},{"id":"1f5eff7e.1d7051","type":"ui_text","z":"813d2714.3e8838","group":"32c6dcc2.c065c4","order":0,"width":0,"height":0,"name":"","label":"Napětí baterie","format":"{{msg.payload}}V","layout":"row-left","x":900,"y":540,"wires":[]},{"id":"e3802023.1ef49","type":"ui_text","z":"813d2714.3e8838","group":"32c6dcc2.c065c4","order":0,"width":0,"height":0,"name":"","label":"Úroveň nabití","format":"{{msg.payload}}%","layout":"row-left","x":890,"y":640,"wires":[]},{"id":"5ee28779.904e88","type":"ui_gauge","z":"813d2714.3e8838","name":"","group":"32c6dcc2.c065c4","order":3,"width":0,"height":0,"gtype":"gage","title":"Procenta baterie","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":680,"wires":[]},{"id":"30dd2989.d27766","type":"link out","z":"23fea3cf.c3210c","name":"Balcony Iluminance","links":["5bc2c774.4ecf78"],"x":795,"y":520,"wires":[]},{"id":"621433fd.9a01dc","type":"blynk-ws-in-write","z":"fda3513d.5e392","name":"","pin":"0","pin_all":0,"client":"935f96cc.649b98","x":330,"y":120,"wires":[["880bb6c4.a3ef68"]]},{"id":"880bb6c4.a3ef68","type":"link out","z":"fda3513d.5e392","name":"Home Alarm","links":["26cdb30a.0f4d5c","77f56afc.3b4964","8a8be916.9e38d8","ae5bad1a.586cd"],"x":515,"y":120,"wires":[]},{"id":"26cdb30a.0f4d5c","type":"link in","z":"813d2714.3e8838","name":"","links":["880bb6c4.a3ef68"],"x":235,"y":140,"wires":[["4602f00.85c911","c8fb4b07.22ed08"]]},{"id":"c8fb4b07.22ed08","type":"blynk-ws-out-write","z":"813d2714.3e8838","name":"","pin":"2","pinmode":0,"client":"5532c3a.85bd83c","x":440,"y":140,"wires":[]},{"id":"58ab68f2.48b048","type":"blynk-ws-in-write","z":"cecc07b4.9c2e58","name":"","pin":"3","pin_all":0,"client":"d98546bc.029a48","x":250,"y":60,"wires":[["6de4a1f9.7c342"]]},{"id":"6de4a1f9.7c342","type":"switch","z":"cecc07b4.9c2e58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":60,"wires":[["94c00b43.8af1d8"],["955f80d9.614e2"]]},{"id":"94c00b43.8af1d8","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"alarm","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":40,"wires":[[]]},{"id":"955f80d9.614e2","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"alarm","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":80,"wires":[[]]},{"id":"8a8be916.9e38d8","type":"link in","z":"cecc07b4.9c2e58","name":"","links":["880bb6c4.a3ef68"],"x":275,"y":120,"wires":[["6de4a1f9.7c342","1de6ee05.472912"]]},{"id":"1de6ee05.472912","type":"blynk-ws-out-write","z":"cecc07b4.9c2e58","name":"","pin":"3","pinmode":0,"client":"d98546bc.029a48","x":480,"y":120,"wires":[]},{"id":"cbf8ff4b.6982e","type":"blynk-ws-out-notify","z":"cecc07b4.9c2e58","name":"","client":"d98546bc.029a48","queue":false,"rate":5,"x":1170,"y":100,"wires":[]},{"id":"ad988a11.0504c8","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pohyb v kuchyni","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":100,"wires":[["cbf8ff4b.6982e"]]},{"id":"51f8346f.deec1c","type":"switch","z":"cecc07b4.9c2e58","name":"","property":"alarm","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":100,"wires":[["ad988a11.0504c8"]]},{"id":"622a1b37.3b98b4","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":260,"wires":[["84beaf97.ce034"]]},{"id":"2d3df3d9.cb8abc","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[["84beaf97.ce034"]]},{"id":"84beaf97.ce034","type":"blynk-ws-out-write","z":"cecc07b4.9c2e58","name":"","pin":"1","pinmode":0,"client":"d98546bc.029a48","x":1000,"y":280,"wires":[]},{"id":"86f2a192.ded8a","type":"blynk-ws-out-write","z":"cecc07b4.9c2e58","name":"","pin":"0","pinmode":0,"client":"d98546bc.029a48","x":900,"y":440,"wires":[]},{"id":"a6662c04.6a4d4","type":"blynk-ws-out-write","z":"cecc07b4.9c2e58","name":"","pin":"2","pinmode":0,"client":"d98546bc.029a48","x":900,"y":600,"wires":[]},{"id":"97955fc3.dbec","type":"blynk-ws-in-write","z":"886ab453.f7a7d8","name":"","pin":"2","pin_all":0,"client":"669bb92d.bc5b58","x":190,"y":140,"wires":[["4098a77a.4f8c48"]]},{"id":"4098a77a.4f8c48","type":"switch","z":"886ab453.f7a7d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":140,"wires":[["d3c49e09.be55a"],["f09c46c7.8fd008"]]},{"id":"d3c49e09.be55a","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"alarm","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":120,"wires":[[]]},{"id":"f09c46c7.8fd008","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"alarm","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":160,"wires":[[]]},{"id":"ae5bad1a.586cd","type":"link in","z":"886ab453.f7a7d8","name":"","links":["880bb6c4.a3ef68"],"x":215,"y":200,"wires":[["4098a77a.4f8c48","4f500623.e03558"]]},{"id":"4f500623.e03558","type":"blynk-ws-out-write","z":"886ab453.f7a7d8","name":"","pin":"2","pinmode":0,"client":"669bb92d.bc5b58","x":420,"y":200,"wires":[]},{"id":"a332d16.c27953","type":"blynk-ws-out-write","z":"886ab453.f7a7d8","name":"","pin":"0","pinmode":0,"client":"669bb92d.bc5b58","x":860,"y":920,"wires":[]},{"id":"86d539e0.c59a58","type":"blynk-ws-out-notify","z":"886ab453.f7a7d8","name":"","client":"669bb92d.bc5b58","queue":false,"rate":5,"x":1170,"y":220,"wires":[]},{"id":"ef6eb316.a6a37","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Pohyb v ložnici","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":220,"wires":[["86d539e0.c59a58"]]},{"id":"24df929b.a3797e","type":"switch","z":"886ab453.f7a7d8","name":"","property":"alarm","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":220,"wires":[["ef6eb316.a6a37"]]},{"id":"eb597224.b9c8b","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":360,"wires":[["b96bf94c.c2ccf8"]]},{"id":"f40c9881.311928","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["b96bf94c.c2ccf8"]]},{"id":"b96bf94c.c2ccf8","type":"blynk-ws-out-write","z":"886ab453.f7a7d8","name":"","pin":"1","pinmode":0,"client":"669bb92d.bc5b58","x":980,"y":380,"wires":[]},{"id":"219a22b6.2a4f8e","type":"blynk-ws-out-write","z":"886ab453.f7a7d8","name":"","pin":"3","pinmode":0,"client":"669bb92d.bc5b58","x":740,"y":540,"wires":[]},{"id":"7ab8ea5c.acc8c4","type":"blynk-ws-out-write","z":"886ab453.f7a7d8","name":"","pin":"4","pinmode":0,"client":"669bb92d.bc5b58","x":720,"y":700,"wires":[]},{"id":"cfa0159.225bbe8","type":"blynk-ws-out-write","z":"886ab453.f7a7d8","name":"","pin":"5","pinmode":0,"client":"669bb92d.bc5b58","x":840,"y":1120,"wires":[]},{"id":"545222f0.96f57c","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":100,"wires":[["747cba60.9603c4"]]},{"id":"83af3864.4898e8","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":500,"wires":[["eee6e289.d6cc7"]]},{"id":"eee6e289.d6cc7","type":"blynk-ws-out-write","z":"2195377a.a21458","name":"","pin":"6","pinmode":0,"client":"669bb92d.bc5b58","x":1380,"y":500,"wires":[]},{"id":"abdb91f5.e9fcb","type":"blynk-ws-in-write","z":"2195377a.a21458","name":"","pin":"6","pin_all":0,"client":"669bb92d.bc5b58","x":150,"y":500,"wires":[["1faec7e9.e58d08"]]},{"id":"747cba60.9603c4","type":"blynk-ws-out-write","z":"2195377a.a21458","name":"","pin":"6","pinmode":0,"client":"5532c3a.85bd83c","x":1380,"y":100,"wires":[]},{"id":"8a64299d.3130a8","type":"blynk-ws-in-write","z":"2195377a.a21458","name":"","pin":"6","pin_all":0,"client":"5532c3a.85bd83c","x":150,"y":100,"wires":[["b24d8f54.2837b"]]},{"id":"1f8dbce6.c66c63","type":"blynk-ws-out-write","z":"23fea3cf.c3210c","name":"","pin":"4","pinmode":0,"client":"d92e7890.b3e098","x":860,"y":480,"wires":[]},{"id":"839373c4.17afb","type":"blynk-ws-out-write","z":"23fea3cf.c3210c","name":"","pin":"2","pinmode":0,"client":"d92e7890.b3e098","x":860,"y":360,"wires":[]},{"id":"517e43e3.f8c26c","type":"blynk-ws-out-write","z":"23fea3cf.c3210c","name":"","pin":"3","pinmode":0,"client":"d92e7890.b3e098","x":860,"y":240,"wires":[]},{"id":"53634273.c44fdc","type":"blynk-ws-out-write","z":"23fea3cf.c3210c","name":"","pin":"0","pinmode":0,"client":"d92e7890.b3e098","x":860,"y":720,"wires":[]},{"id":"e1bd5f39.1c78f","type":"blynk-ws-out-write","z":"23fea3cf.c3210c","name":"","pin":"1","pinmode":0,"client":"d92e7890.b3e098","x":860,"y":120,"wires":[]},{"id":"1f86e090.15c48f","type":"blynk-ws-out-write","z":"99d692a1.3c57e","name":"","pin":"0","pinmode":0,"client":"373fc563.27ef3a","x":880,"y":180,"wires":[]},{"id":"6d28b637.aa7f78","type":"blynk-ws-out-write","z":"99d692a1.3c57e","name":"","pin":"1","pinmode":0,"client":"373fc563.27ef3a","x":880,"y":300,"wires":[]},{"id":"b00f3585.92a5a8","type":"blynk-ws-out-write","z":"99d692a1.3c57e","name":"","pin":"2","pinmode":0,"client":"373fc563.27ef3a","x":880,"y":420,"wires":[]},{"id":"74dbaa88.cea824","type":"blynk-ws-out-write","z":"99d692a1.3c57e","name":"","pin":"3","pinmode":0,"client":"373fc563.27ef3a","x":880,"y":540,"wires":[]},{"id":"1548b5f6.ac1f8a","type":"blynk-ws-in-write","z":"2195377a.a21458","name":"","pin":"7","pin_all":0,"client":"669bb92d.bc5b58","x":230,"y":640,"wires":[["3f74bee2.88a452"]]},{"id":"2c3ee669.081eaa","type":"function","z":"2195377a.a21458","name":"","func":"msg.payload = {\"dimmer\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":620,"wires":[["f8dbe6dd.d0ee08"]]},{"id":"8d9c2b02.fd1ce8","type":"blynk-ws-out-write","z":"2195377a.a21458","name":"","pin":"6","pinmode":0,"client":"669bb92d.bc5b58","x":780,"y":720,"wires":[]},{"id":"3f74bee2.88a452","type":"switch","z":"2195377a.a21458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":640,"wires":[["2c3ee669.081eaa","19ccca42.93cce6"],["73412c6a.ab2e14","2c3ee669.081eaa"]]},{"id":"19ccca42.93cce6","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":680,"wires":[["8d9c2b02.fd1ce8"]]},{"id":"73412c6a.ab2e14","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":720,"wires":[["8d9c2b02.fd1ce8"]]},{"id":"887a7f27.68bc","type":"blynk-ws-in-write","z":"2195377a.a21458","name":"","pin":"4","pin_all":0,"client":"5532c3a.85bd83c","x":230,"y":240,"wires":[["2e5b7bd1.54fc84"]]},{"id":"18795671.7a530a","type":"function","z":"2195377a.a21458","name":"","func":"msg.payload = {\"dimmer\":msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["f95a0b36.610348"]]},{"id":"de63e29c.e2a3b","type":"blynk-ws-out-write","z":"2195377a.a21458","name":"","pin":"6","pinmode":0,"client":"5532c3a.85bd83c","x":780,"y":320,"wires":[]},{"id":"2e5b7bd1.54fc84","type":"switch","z":"2195377a.a21458","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":240,"wires":[["18795671.7a530a","71f0b704.1ebbf8"],["de1cc903.903768","18795671.7a530a"]]},{"id":"71f0b704.1ebbf8","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["de63e29c.e2a3b"]]},{"id":"de1cc903.903768","type":"change","z":"2195377a.a21458","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":320,"wires":[["de63e29c.e2a3b"]]},{"id":"c2be1a03.01a7a8","type":"mysql","z":"813d2714.3e8838","mydb":"ee5c9541.3e0258","name":"","x":1000,"y":820,"wires":[[]]},{"id":"a83ebf1c.798f9","type":"function","z":"813d2714.3e8838","name":"","func":"/*msg.payload.topic = msg.topic;\nmsg.payload.value = msg.payload;\nmsg.payload.room = \"living-room\";*/\n\nif(msg.payload != \"null\")\n{\n    var date = (new Date()).toISOString();\n    msg.payload=[msg.topic, msg.payload, \"living-room\", date];\n    msg.topic=\"INSERT INTO messages (`topic`, `value`, `room`, `message_recieved`) VALUES (?, ?, ?, ?);\"\n    //msg.topic=\"INSERT INTO users (`userid`, `username`) VALUES (?, ?);\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":630,"y":820,"wires":[["e6bcc7a4.1b1448"]]},{"id":"e6bcc7a4.1b1448","type":"change","z":"813d2714.3e8838","name":"","rules":[{"t":"change","p":"payload[3]","pt":"msg","from":"T","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload[3]","pt":"msg","from":"Z","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":820,"wires":[["c2be1a03.01a7a8"]]},{"id":"dfb8fe28.f729e","type":"mqtt in","z":"813d2714.3e8838","name":"","topic":"node/home/living-room/#","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":210,"y":820,"wires":[["3d3cf05.ffb381"]]},{"id":"14052bb3.618094","type":"mysql","z":"cecc07b4.9c2e58","mydb":"ee5c9541.3e0258","name":"","x":940,"y":840,"wires":[[]]},{"id":"db3baf0c.c9929","type":"function","z":"cecc07b4.9c2e58","name":"","func":"/*msg.payload.topic = msg.topic;\nmsg.payload.value = msg.payload;\nmsg.payload.room = \"living-room\";*/\n\nif(msg.payload != \"null\")\n{\n    var date = (new Date()).toISOString();\n    msg.payload=[msg.topic, msg.payload, \"kitchen\", date];\n    msg.topic=\"INSERT INTO messages (`topic`, `value`, `room`, `message_recieved`) VALUES (?, ?, ?, ?);\"\n    //msg.topic=\"INSERT INTO users (`userid`, `username`) VALUES (?, ?);\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":570,"y":840,"wires":[["803759c6.84abc8"]]},{"id":"803759c6.84abc8","type":"change","z":"cecc07b4.9c2e58","name":"","rules":[{"t":"change","p":"payload[3]","pt":"msg","from":"T","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload[3]","pt":"msg","from":"Z","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":840,"wires":[["14052bb3.618094"]]},{"id":"88bff961.8354e8","type":"mqtt in","z":"cecc07b4.9c2e58","name":"","topic":"node/home/kitchen/#","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":210,"y":840,"wires":[["b2006dcd.0e949"]]},{"id":"8f1cfaeb.58d2f8","type":"mysql","z":"886ab453.f7a7d8","mydb":"ee5c9541.3e0258","name":"","x":1080,"y":1260,"wires":[[]]},{"id":"edbcf653.d0f5b8","type":"function","z":"886ab453.f7a7d8","name":"","func":"/*msg.payload.topic = msg.topic;\nmsg.payload.value = msg.payload;\nmsg.payload.room = \"living-room\";*/\n\nif(msg.payload != \"null\")\n{\n    var date = (new Date()).toISOString();\n    msg.payload=[msg.topic, msg.payload, \"bedroom\", date];\n    msg.topic=\"INSERT INTO messages (`topic`, `value`, `room`, `message_recieved`) VALUES (?, ?, ?, ?);\"\n    //msg.topic=\"INSERT INTO users (`userid`, `username`) VALUES (?, ?);\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":670,"y":1260,"wires":[["2393906a.0d95d"]]},{"id":"2393906a.0d95d","type":"change","z":"886ab453.f7a7d8","name":"","rules":[{"t":"change","p":"payload[3]","pt":"msg","from":"T","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload[3]","pt":"msg","from":"Z","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1260,"wires":[["8f1cfaeb.58d2f8"]]},{"id":"689b9764.1689a8","type":"mqtt in","z":"886ab453.f7a7d8","name":"","topic":"node/home/bedroom/#","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":180,"y":1260,"wires":[["59b83c6b.2afd64"]]},{"id":"cef00473.9a1f58","type":"mysql","z":"99d692a1.3c57e","mydb":"ee5c9541.3e0258","name":"","x":880,"y":780,"wires":[[]]},{"id":"e7bf139e.fc47d","type":"function","z":"99d692a1.3c57e","name":"","func":"/*msg.payload.topic = msg.topic;\nmsg.payload.value = msg.payload;\nmsg.payload.room = \"living-room\";*/\nif(msg.payload != \"null\")\n{\n    var date = (new Date()).toISOString();\n    msg.payload=[msg.topic, msg.payload, \"workshop\", date];\n    msg.topic=\"INSERT INTO messages (`topic`, `value`, `room`, `message_recieved`) VALUES (?, ?, ?, ?);\"\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":470,"y":780,"wires":[["1f828499.1e0d2b"]]},{"id":"1f828499.1e0d2b","type":"change","z":"99d692a1.3c57e","name":"","rules":[{"t":"change","p":"payload[3]","pt":"msg","from":"T","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload[3]","pt":"msg","from":"Z","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":780,"wires":[["cef00473.9a1f58"]]},{"id":"a9ff5805.13e188","type":"mqtt in","z":"99d692a1.3c57e","name":"","topic":"node/climate-with-led-encoder:0/#","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":260,"y":780,"wires":[["e7bf139e.fc47d"]]},{"id":"38ce1be.3781ee4","type":"mysql","z":"23fea3cf.c3210c","mydb":"ee5c9541.3e0258","name":"","x":780,"y":900,"wires":[[]]},{"id":"b911028.fe618","type":"function","z":"23fea3cf.c3210c","name":"","func":"/*msg.payload.topic = msg.topic;\nmsg.payload.value = msg.payload;\nmsg.payload.room = \"living-room\";*/\nif(msg.payload != \"null\")\n{\n    var date = (new Date()).toISOString();\n    msg.payload=[msg.topic, msg.payload, \"balcony\", date];\n    msg.topic=\"INSERT INTO messages (`topic`, `value`, `room`, `message_recieved`) VALUES (?, ?, ?, ?);\"\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":370,"y":900,"wires":[["269bed28.6f4352"]]},{"id":"269bed28.6f4352","type":"change","z":"23fea3cf.c3210c","name":"","rules":[{"t":"change","p":"payload[3]","pt":"msg","from":"T","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload[3]","pt":"msg","from":"Z","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":900,"wires":[["38ce1be.3781ee4"]]},{"id":"1291b638.67698a","type":"mqtt in","z":"23fea3cf.c3210c","name":"","topic":"node/home/balcony/#","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":160,"y":900,"wires":[["b911028.fe618"]]},{"id":"3d3cf05.ffb381","type":"switch","z":"813d2714.3e8838","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"node/home/living-room/motion-detector/movement","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":820,"wires":[["a83ebf1c.798f9"]]},{"id":"b2006dcd.0e949","type":"switch","z":"cecc07b4.9c2e58","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"node/home/kitchen/motion-detector/movement","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":840,"wires":[["db3baf0c.c9929"]]},{"id":"59b83c6b.2afd64","type":"switch","z":"886ab453.f7a7d8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"node/home/bedroom/co2-monitor/movement","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1260,"wires":[["edbcf653.d0f5b8"]]},{"id":"76c2c30d.c3920c","type":"mysql","z":"3b875df7.8737b2","mydb":"ee5c9541.3e0258","name":"","x":1040,"y":800,"wires":[[]]},{"id":"a65e70c2.18a1a","type":"function","z":"3b875df7.8737b2","name":"","func":"/*msg.payload.topic = msg.topic;\nmsg.payload.value = msg.payload;\nmsg.payload.room = \"living-room\";*/\n\nif(msg.payload != \"null\" && msg.topic != \"node/home/thermostat-with-qr-terminal/qr/-/chng/code\")\n{\n    var date = (new Date()).toISOString();\n    msg.payload=[msg.topic, msg.payload, \"kitchen\", date];\n    msg.topic=\"INSERT INTO messages (`topic`, `value`, `room`, `message_recieved`) VALUES (?, ?, ?, ?);\"\n    //msg.topic=\"INSERT INTO users (`userid`, `username`) VALUES (?, ?);\"\n    return msg;\n}\n","outputs":1,"noerr":0,"x":650,"y":800,"wires":[["606c4f25.f33ae"]]},{"id":"606c4f25.f33ae","type":"change","z":"3b875df7.8737b2","name":"","rules":[{"t":"change","p":"payload[3]","pt":"msg","from":"T","fromt":"str","to":" ","tot":"str"},{"t":"change","p":"payload[3]","pt":"msg","from":"Z","fromt":"str","to":" ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":800,"wires":[["76c2c30d.c3920c"]]},{"id":"a90d873c.4b8158","type":"mqtt in","z":"3b875df7.8737b2","name":"","topic":"node/home/thermostat-with-qr-terminal/#","qos":"2","datatype":"auto","broker":"29fba84a.b2af58","x":260,"y":800,"wires":[["a65e70c2.18a1a"]]}]